h3 {
    color: white;
    font-size: 2rem;
    margin-left: 2rem;
}

.card-header {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.post-text {
    color: black;
}

.comment-link {
    color: black;
    margin: 0px;
}


.username {
    color: black;
    font-size: 1.2rem;
    font-style:normal;   
}


.cardContentTop {
    padding: 0px;
    margin: 0px;
    display:flex;
    justify-content: space-between;
}

.cardContentBottom {
    border-top: 1px solid black;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.cardContentBottom p {
    color: black;
    font-size: 1rem;
    padding: 0px;
    margin: 0px;
}


.comment-icon {
    color: black;
    font-size: 1.5rem;
    padding-top: 0.5rem
}

.comment-count {
    font-size: 1.2rem;
    color: black;
    margin: 0px;
    padding: 0px;
}

.MuiCardContent-root:last-child {
    padding-bottom : 0 !important;
 }

 /* .MuiCardContent-root {
    padding : 0 !important;
 } */

 .MuiGrid-grid-xs-8 {
    padding-top: 0 !important;
 }

 .post-list {
    margin-top: 0.5rem !important;
 }


 .collapsedSection-commentForm {
    display: flex;
    justify-content: center;
 }
