h3 {
    color: white;
    font-size: 2rem;
    margin-left: 2rem;
}

.card-header {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.post-text {
    color: black;
}

.comment-link {
    color: black;
}

.username {
    color: black;
    font-size: 1.2rem;
    font-style:normal;
    
}