

.cctLogoLarge {

    max-width: auto;
    max-height: auto;
    border-radius: 0.3rem;
}

.rustyBridgePic {
    max-width: auto;
    max-height: auto;
}


.introParagraph p {
    font-family: "Roboto Mono", monospace;
    font-size: 1.3rem;
    color: white;
}


.introParagraph {
    display: flex;
    align-items: center;
}

/* fit-content isnt supported by sarfari and some other browsers so I need to figure something out for that! */
.middleGrid-container {
    text-align: center;
    
}


/* fit-content isnt supported by sarfari and some other browsers so I need to figure something out for that! */
.pictures {
   height: fit-content; 
}


.profile-view {
    color:black;
    margin-bottom: 0 !important;
}

.username-profile {
    border-bottom: 1px solid black;
    text-align: center
}






.page-title {
    color: white;
}

.postList-grid {
    background-color:rgb(236,236,236);
    border-radius: 0.2rem;
    display: flex !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 1rem !important;
    width: auto;

}

.postForm-list-profile {
    justify-content: center;
}




/*  MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {

    .cctLogoLarge {

        max-width: auto;
        max-height: auto;
        border-radius: 0.3rem;
    }

    .introParagraph p {
        font-family: "Roboto Mono", monospace;
        font-size: 1rem;
        color: white;
    }

    .postListHome {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .addFriend {
        text-align: center;
    }
}

 


