
.cctLogoLarge {

    max-width: 100%;
    max-height: auto;
    padding: 2rem !important;
    margin: 1rem !important;
    border-radius: 0.3rem;
}

p {
    font-family: "Roboto Mono", monospace;
    font-size: 1.3vw;
}

.main {
    text-align: center;
}

.profile-view {
    color: white;
    margin-bottom: 0 !important;
}

.page-title {
    color: white;
}

.postList-grid {
    background-color:rgb(236,236,236);
    border-radius: 0.2rem;
    display: flex !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 1rem !important;
    width: auto;

}

.postList-grid h2 {
    text-align: center;
    border-bottom: 2px solid rgb(236,236,236);
}


.topGrid {
    background-color: rgb(255,255,255);
    margin-right: 0px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    border-radius: 0.2rem;
}

.introContainer {
    display: flex;
    align-items: center;
}

.introContainer p {
    background-color: rgb(255,255,255);
    font-size: 1vw;
}

.recentPosts {
    background-color: rgb(255,255,255);
    border-radius: 0.2rem;
    margin: 1rem !important;
    padding: 0 !important;
    width: auto;
}

.homeContainer {
    background-color: rgb(236,236,236);
    margin: 5rem !important;
}

.css-oqchhx-MuiContainer-root {
    padding: 0 !important;
}

