
.landingPageMain {
    padding: 0 !important;
}

h2 {
    font-style: italic;
}

.topGridLanding h2 {
    color: white;
    font-weight: lighter;
}

.topGridLanding {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
}


.introParagraphLandingPage p {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 14rem;
    margin-bottom: 0 !important;
}

.getStarted a {
    padding: 5px;
    font-size: 1rem;
    padding: 2px 10px;
    color: black;
    font-weight: bold;
    background-color: hsl(0, 0%, 98%, 1);
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
}

.topGridLanding {
    background-image: url(../assets/images/unsplashpic1.jpg);
    background-size: cover;
    height: 90vh;
}

.angleDown {
    font-size: 5rem;
    color: white;
    margin-top: 17rem;
}


.middleContainerLandingPage {
    background-image: url(../assets/images/foggyRoad.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}


.textLeft  {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: black;
}


.imageList {
    margin-top: 10rem !important;
}



/* fit-content isnt supported by sarfari and some other browsers so I need to figure something out for that! */
.middleGrid-container {
    text-align: center;
    
}


/* fit-content isnt supported by sarfari and some other browsers so I need to figure something out for that! */
.pictures {
   height: fit-content; 
}


.profile-view {
    color:black;
    margin-bottom: 0 !important;
}

.username-profile {
    border-bottom: 1px solid black;
    text-align: center
}






.page-title {
    color: white;
}

.postList-grid {
    background-color:rgb(236,236,236);
    border-radius: 0.2rem;
    display: flex !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 1rem !important;
    width: auto;

}

.postForm-list-profile {
    justify-content: center;
}




/*  MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {

    .cctLogoLarge {

        max-width: auto;
        max-height: auto;
        border-radius: 0.3rem;
    }

    .introParagraph p {
        font-family: "Roboto Mono", monospace;
        font-size: 1rem;
        color: white;
    }

    .postListHome {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .addFriend {
        text-align: center;
    }
}

 


