.nav ul {
    background-color:  black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 !important;
    margin: 0 !important;
}



.secondDiv a {
    text-align: center;
    color: hsl(0, 0%, 90%, 1);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin: 1rem;
    
}

.secondDiv {
    display: flex;
    justify-content: center;
    margin-right: 6rem;
}

/* .navActive {
    color: white;
    font-size: 4rem;
    background-color: white;
    padding: 1rem;
} */

.thirdDiv a {
    padding: 5px;
    font-size: 1rem;
    padding: 2px 10px;
    color: black;
    font-weight: bold;
    background-color: hsl(0, 0%, 90%, 1);
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
}




.nav p {
    font-size: 2rem;
    color: hsl(0, 0%, 100%, 1);
    font-family: 'Abril Fatface', cursive;
    margin: 0.9rem;
}


.logo {
    height: 3rem;
    width: 3rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@media screen and (max-width: 575px) {

    .nav ul {
        display: block;
        text-align: center;
    }

    .secondDiv {
        margin-right: 0px;
    }
    
    .secondDiv a {
        font-size: 1rem;
        display: inline;
        justify-items: center;
        margin: 3px 0;
    }
}

